.footer {
  padding: 43px 0 35px 0;
  color: #fff;
  background: #8C8B8B;  

  &__container {
    // display: flex;
    // align-items: center;
  }

  &__row {
    width: 100%;
    justify-content: space-between; 
    flex-wrap: wrap;
  }

  &__column {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__menu {
    li {
    margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
      a {
        color: #fff;
    }
  }
    &__menu_first {
      margin-bottom: 20px;
    }
    &__menu_first li {
      font-size: 34px;
      line-height: 26px;
      font-weight: 700;
    }
    // .footer__mail
  &__mail {
    margin-bottom: 46px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  // .footer__mail-text
  &__mail-text {
    margin-bottom: 15px;
  }
  // .footer__mail-link
  &__mail-link {
    font-size: 34px;
    line-height: 26px;
    color: #fff;
  }
    &__policy {
    display: flex;
    flex-direction: column;
  }
  // .footer__policy-link
  &__policy-link {
    line-height: 30px;
    color: #fff;
  }
  // .footer__callback
  &__callback {
    padding-left: 51px;
    padding-right: 51px;
    margin-top: 65px;
  }
  &__phone {
    color: #fff;
  }
  &__line {
    width: 100%;
    height: 1px;
    background: #FFBD1F;
    margin-top: 50px;
  }
  &__soc-block-icon {
    margin-right: 15px;
  }
  &__row_bottom {
    align-items: center; 
    margin-top: 30px;
  }
}



