//<Адаптив>===========================================================================================================================================
@media (max-width: 1700px) {
  .advant__container {
 	  padding-left: 0 !important;
 	  padding-right: 10px;}
  .payment-info__container {
    padding-left: 10px;}
}

@media (max-width: 1500px) {
	._container {
		padding: 0 10px;}
  .menu__list-wrap {
    flex: 0 1 100%;}
}

@media (max-width: 1440px) {  
	.advant__img {
    flex: 0 1 750px;}
	.advant__title {
		margin-bottom: 25px;}  
}

@media (max-width: 1330px) {
	.how-work-info {
    flex: 0 1 18%;}
}

@media (max-width: 1280px) { 
	.header {
    padding: 10px 0;}
  .advant-info {
		padding: 17px 20px 33px 20px;}
  .design-glass__volume {
    margin-bottom: 55px;}
  .thickness__img {
    bottom: -10%;}
  .payment-info__descp {
    flex: 0 1 50%;}
  .payment-info {
    padding: 50px 0;}
  .card__row {
    margin: 0 -6px;}
  .card__col {
    padding: 0 6px;}
  .product__slider {
    margin-right: 60px;}
}

@media (max-width: 1250px) { 
  .thickness__img {
    bottom: -8%;}
}

@media (max-width: 1200px) { 
	.how-work-info {
    flex: 0 1 19%;
    padding: 20px 25px;}
  .how-work-info:before {
    margin-bottom: 35px;}
  .advant-info {
  	margin-bottom: 15px;}
  .advant-info h3 {
  	font-size: 20px;}
  .form-applic {
    padding: 35px 35px 45px 35px;}
  .card__btn-link {
    font-size: 18px;}
  .product__slider {
    margin-right: 45px;}
  .product__price {
    margin-bottom: 15px;}
  .product__avail {
    margin-bottom: 23px;}
  .product__charect {
    margin-bottom: 35px;}
  .product__choice {
    margin-bottom: 50px;}
}

@media (max-width: 1150px) { 
  .design-glass__row {
    margin: 0 -25px;}
  .design-glass__col {
    padding: 0 25px;}
  .card__col {
    flex: 0 1 33.333%;}
}

@media (max-width: 1100px) { 
	.advant__img {
    flex: 0 1 700px;}
  .advant-info {
    flex: 0 1 48%;}
  .menu__img {
    margin-right: 25px;}
  .menu__body {
    padding-top: 35px;}
  .menu__container {
    padding: 0 10px;}
  .menu__wrap {
    padding: 15px 0 35px 0;}
  .menu__container_flex {
    justify-content: flex-start;}
  .menu__list {
    margin-bottom: 35px;}
}

@media (max-width: 1050px) {
	.how-work-info h3 {
		font-size: 18px;}
	.advant__img {
    flex: 0 1 700px;}
  .advant-info {
    flex: 0 1 49%;}
   .advant-info h3 {
  	font-size: 18px;}
  .product__slider {
    margin-right: 25px;}
  .product__choice {
    margin-bottom: 30px;}
  .product__charect {
    margin-bottom: 20px;}
  .product__text h3 {
    margin-bottom: 15px;}
}

@media (max-width: 1024px) {
	.logo-icon {
    flex: 0 0 180px;
    height: 80px;}
	.header__navigation {
    flex: 0 1 620px;
    justify-content: flex-end;}
	.bascket-icon {
		margin-left: 0;
		margin-right: 35px;}
	.header__menu-icon-block {
    flex: 0 1 200px;
    height: 100px;
    padding: 5px 20px 5px 45px;}
  .design-glass__row {
    margin: 0 -15px;}
  .design-glass__col {
    padding: 0 15px;
    margin-bottom: 25px;}
  .recurring h1, .recurring h2 {
    margin-bottom: 55px;}
    .menu__list {
    margin-bottom: 25px;}
  .menu__list h3 {
    margin-bottom: 10px;}
}

@media (max-width: 960px) {
	.how-work-info {
    flex: 0 1 19%;
    padding: 18px 20px;}
  .how-work-info:before {
    margin-bottom: 15px;}
	.how-work-info h3 {
		font-size: 16px;}
	.how-work-info:before {
		background-size: 80%;}
	.advant__title {
		font-size: 38px;}
	.advant__img {
		margin-right: 10px;}
	.advant-info {
    padding: 15px 15px 25px 15px;}
  .advant-info h3 {
    font-size: 16px;}
  .advant-info:before {
  	margin-bottom: 15px;}
  .advant-icon-01:before {
    width: 63px;    
    height: 63px;}
  .advant-icon-02:before {
    width: 63px;    
    height: 63px;}
  .advant-icon-03:before {
    width: 63px;    
    height: 63px;}
  .advant-icon-04:before {
    width: 63px;    
    height: 33px;}
  .design-glass__volume {
    padding: 13px 15px;}
  .design-glass__volume-descp {
    font-size: 28px;}
  .thickness__img {
    bottom: 6%;}
  .payment-info__title {
    font-size: 36px;
    margin-bottom: 25px;}
  .payment-info__descp p {
    font-size: 20px;}
}

@media (max-width: 860px) {
	.logo-icon {
    flex: 0 0 180px;}
	.header__navigation {
    flex: 0 1 550px;}
  .header__contacts {
    flex: 0 0 230px;}
  .header__phone {
  	font-size: 30px;}
	.header__menu-icon-block {
    flex: 0 1 200px;
    padding: 5px 20px 5px 35px;}
  .design-glass__volume {
    flex: 0 1 250px;
    height: 83px;
    padding: 10px 15px;}
  .design-glass__volume-descp {
    font-size: 20px;}
  .thickness__item-descp {
    height: 80px;
    padding: 20px;}
  .thickness__descp {
    font-size: 20px;}
  .thickness__img {
    max-width: 250px;
    height: 200px;
    bottom: -3px;}
  .card__col {
    flex: 0 1 50%;}
}

@media (max-width: 812px) {
  .logo-icon {
  	height: 80px;}
	.header__navigation {
    flex: 0 1 500px;}
  .header__menu-icon-block {
  	height: 100px;}
	.how-work-info {
    flex: 0 1 19%;
    padding: 20px;}
  .how-work-info:before {
    margin-bottom: 10px;}
	.how-work-info h3 {
		font-size: 14px;}
	.advant__title {
		font-size: 30px;
		margin-bottom: 15px;} 
	.advant__img {
    flex: 0 1 530px;}
  .design-glass__volume {
    display: none;}
  .design-glass__img-volume-descp {
    display: flex;}
  .payment-info__row {
    flex-wrap: wrap;}
  .payment-info__descp {
    flex: 0 1 100%;
    margin-right: 0;
    margin-bottom: 15px;}
  .menu__img {
    display: none;}
  .menu__header {
    padding-left: 10px;}
}

@media (max-width: 768px) { 
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;}
	.header-index {
		background: #fff;
		box-shadow: 0px 14px 18px -19px #000000;}
	.header__container { 
    padding-right: 10px !important;}
	.header__logo {
		margin-right: 20px;}
	.logo-icon {
		flex: 0 0 80px;
    height: 43px;}
	.icon-menu {
		display: block;
		flex: 0 0 20px;
    height: 14px;}
	.icon-menu span {
    top: 6px;}
  .icon-menu.active span:first-child { 
    top: 7px;}
  .icon-menu.active span:last-child {
    bottom: 5px;}
	.header__navigation {
		flex: 0 1 100%;
		align-items: center;}
	.header__contacts {
		flex: 0 0 145px;
    margin-right: 15px;}
  .header__menu-icon-block {
    flex: 0 0 20px;
    height: 20px;
    padding: 0;
		justify-content: flex-end;
    background: transparent;
    margin-top: 0;}
  .icon-menu span {
  	background: #FFBD1F;}
  .header__menu-icon-text {
  	display: none;}
  .bascket-icon {
  	flex: 0 0 23px;
  	height: 23px;
  	margin-top: -6px;
  	margin-right: 25px;}
  .bascket-icon__number {
    top: -21%;
    right: -16%;
    font-size: 8px;
    width: 13px;
    height: 13px;}
	.header__phone {
		font-size: 18px;}
	.header__time-phone {
		display: none;}
	section {
		padding: 20px 0 !important;}
	.title {
		margin-bottom: 25px;}
	.footer {
		padding: 15px 0;}
	.footer__menu li {
		font-size: 14px;
    margin-bottom: 10px;}
	.footer__menu_first li {
		font-size: 18px;
		line-height: 1;}
  .footer__policy-link {
  	font-size: 12px;
    line-height: 1.3;
    color: #fff;}
  .footer__mail {
  	margin-bottom: 15px;}
  .footer__mail-text {
  	font-size: 14px;
  	margin-bottom: 5px;}
  .footer__mail-link {
    font-size: 18px;
    line-height: 1;}
  .footer__phone {
  	font-size: 20px;}
  .footer__time-phone {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;}
  .footer__callback {
    font-size: 18px;
  	padding: 3px 25px;
  	margin-top: 25px;}
  .footer__line {
 		margin-top: 15px;}
 	.footer__row_bottom {
 		margin-top: 15px;}
 	.footer__copyright {
 		font-size: 12px;}
 	.footer__soc-block-icon-link::before {
    background-size: 90%;}
	  ::-webkit-scrollbar {
    display: none;}
	.how-work__row {
    width: auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    overflow-x: auto;
    margin: 0 -10px;}
	.how-work-info {
    flex: 0 0 21%;
    margin-right: 10px;}
  .how-work-info:first-child {
    margin-left: 10px;}
  .advant__container {
    padding-left: 10px !important;}
  .advant__row {
  	max-width: 100%;
    flex-wrap: wrap-reverse;}
  .advant__img {
    flex: 0 1 100%;
    border-radius: 70px;
    margin-top: 15px;
    margin-right: 0;}
  .advant__card-block {
  	width: 100%;
    flex: 0 1 100%;}
  .advant-info {
    flex: 0 0 23.6%;
    margin-right: 10px;
    margin-bottom: 0 !important;}
  .advant-info:first-child {
    margin-left: 10px;}
  .advant__card-row {
  	width: auto;
  	flex-wrap: nowrap;
  	overflow: auto;
    margin: 0 -10px;}
  .advant-info h3 {
    font-size: 14px;}
  .advant-icon-01:before {
    width: 43px;
    height: 43px;}
  .advant-icon-02:before {
    width: 43px;
    height: 43px;}
  .advant-icon-03:before {
    width: 43px;
    height: 33px;}
  .advant-icon-04:before {
    width: 43px;
    height: 43px;}
  .design-glass__img {
    flex: 0 1 100%;
    padding: 0;}
  .offer-thickness__yelow-block {
    padding: 25px;}
  .offer-thickness__yelow-block h2 {
    margin-bottom: 25px;}
  .thickness__img {
    display: none;
    max-width: 150px;
    height: 150px;
    left: -10px;
    bottom: 15px;}
  .thickness__item-descp {
    justify-content: center;
    height: 65px;
    padding: 20px;}
  .thickness__descp {
    font-size: 18px;}
  .payment-info__title {
    font-size: 24px;
    margin-bottom: 15px;}
  .payment-info__descp p {
    font-size: 14px;
    line-height: 1.3;}
  .form-applic {
    padding: 25px;}
  .form-applic__btn {
    font-size: 18px;
    margin-top: 15px;}
  .form-applic .form__line {
    justify-content: space-between;}
  .form-applic__column {
    flex: 0 1 48%;
    margin-right: 10px;}
  .form-applic__column input {
    margin-bottom: 10px;}
  .form-applic__btn {
    margin-top: 10px;}
  .charect-sel {
    margin-bottom: 35px;}
  .page-recurring {
    padding-top: 50px;}
  .card__row {
    flex-wrap: nowrap;
    width: auto;
    overflow: auto;
    margin: 0 -10px;}
  .card__col {
    flex: 0 0 35%;}
  .card__img-item {
    min-height: 230px;
    max-height: 230px;
    margin-bottom: 13px;}
  .card__descp {
    padding: 18px 20px 15px 20px;}
  .card__title {
    font-size: 18px;
    margin-bottom: 10px;}
  .card__text {
    margin-bottom: 15px;}
  .card__price {
    font-size: 20px;
    margin-bottom: 5px;}
  .card__price-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 100%;}
  .card__price {
    margin-right: 5px;}
  .card__btn-link {
    width: 100%;
    font-size: 16px;
    padding: 3px 25px;
    margin-top: 10px;}
  .card__layer {
    margin-right: 5px;}
  #breadcrumbs {
    margin-bottom: 13px;}
  #breadcrumbs span a,
  #breadcrumbs span {
    font-size: 12px;}
  .select__value {
    height: 30px;}
  .charect-sel__title,
  .select__title,
  .select__options {
    font-size: 14px;}
  .select__options {
    top: 20px;}
  .recurring h1, .recurring h2 {
    margin-bottom: 25px;}
  .product__price {
    font-size: 16px;
    margin-bottom: 10px;}
  .product__avail {
    font-size: 16px;
    margin-bottom: 15px;}
  .product__vendor {
    font-size: 16px;
    margin-bottom: 10px;}
  .product__volume {
    font-size: 16px;
    margin-bottom: 10px;}
  .product__layers {
    font-size: 16px;}
  .product__charect {
    margin-bottom: 15px;}
  .product__choice .quantity {
    height: 35px;}
  .product__btn {
    font-size: 16px;
    padding: 3px 25px;}
  .product__choice {
    margin-bottom: 20px;}
  .product__text h3 {
    font-size: 18px;
    margin-bottom: 10px;}
  .product__text p {
    font-size: 14px;
    line-height: 1.3;}
  .menu {
    height: 100%;
    padding-top: 75px;
    z-index: 5000;}
  .menu__header {
    display: none;}
  .menu__body {
    padding-top: 0;}
  .menu__list-wrap {
    flex-direction: column;}
  .menu__container {
    padding: 0 35px;}
  .menu__footer-contacts {
    flex: 0 1 100%;}
  .menu__list {
    margin-bottom: 35px;}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
  .design-glass__row {
    width: auto;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0 -10px;}
  .design-glass__col {
    flex: 0 0 35%;
    padding: 0;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 0;}
  .design-glass__col:last-child {
    margin-right: 0;}
  .charect-sel {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;}
  .charect-sel__item {
    margin-right: 15px;}
  .select__value {
    width: 125px;}
  .charect-sel__item,
  .charect-sel__title {
    margin-right: 10px;}

}

@media (max-width: 630px) {
  .thickness__item-descp {
    height: 55px;
    padding: 15px;}
  .thickness__descp {
    font-size: 14px;}
}

@media (max-width: 612px) {
	.popup__img {
    flex: 0 1 43%;}
	.popup__form-block {
		padding: 35px 15px;}
	.how-work-info {
    flex: 0 0 26%;}
  .advant-info {
    flex: 0 0 30%;}
  .card__col {
    flex: 0 0 43%;}
}

@media (max-width: 540px) {
	.footer__column {
    flex: 0 1 100%;
    margin-right: 0;
    margin-bottom: 25px;}
	.footer__column:last-child {
    margin-bottom: 0;}
  	.footer__column {
		text-align: center;}
	.footer__row_bottom {
    justify-content: center;
    flex-direction: column;}
  .footer__copyright {
   	margin-top: 13px;}
  .footer__policy {
    align-items: center;}
  .how-work-info {
    flex: 0 0 33%;}
  .advant__img {
    flex: 0 1 100%;
    border-radius: 43px}
  .design-glass__col {
    flex: 0 0 43%;}
  .product__row {
    flex-wrap: wrap;}
  .product__slider {
    flex: 0 1 100%;
    margin-right: 0;
    margin-bottom: 15px;}
  .product__descp {
    flex: 0 1 100%;}
}

@media (max-width: 530px) {
  .charect-sel__item {
    margin-bottom: 10px;}
  .charect-sel__item:last-child {
    margin-bottom: 0;}
  .charect-sel {
    justify-content: flex-start;}
  .charect-sel__item {
    flex-direction: column;}
  .charect-sel__title {
    margin-right: 0;
    margin-bottom: 3px;}
}

@media (max-width: 515px) {
	.logo-icon {
		height: 35px;}
	.bascket-icon {
		margin-top: -4.5px;}
	.mob-callback__phone {
    display: flex; 
		margin-right: 25px;}
	.popup__img {
		display: none;}
	.popup__form-block {
		flex: 0 1 100%;}
  .page-recurring {
    padding-top: 38px;}
  .advant-info {
    flex: 0 0 38%;}
  .offer-thickness__row {
    flex-wrap: wrap;}
  .offer-thickness__yelow-block {
    padding: 25px 20px;}
  .thickness__body {
    margin-right: 0;
    margin-bottom: 10px;}
  .thickness__body:last-child {
    margin-bottom: 0;}
  .thickness__item-descp {
    flex: 0 1 100%;
    height: 45px;
    padding: 15px;}
  .thickness__descp {
    font-size: 14px;}
  .form-applic {
    padding: 25px 15px;}
  .form-applic .form__line {
    flex-wrap: wrap;}
  .form-applic__column {
    flex: 0 1 100%;
    margin-right: 0;
    margin-bottom: 10px;}
  .card__col {
    flex: 0 0 55%;}
  .popup__form-btn {
    width: 100%;}
  .menu {
    padding-top: 55px;}
  .menu__wrap {
    overflow: auto;}
  .menu__body {
    overflow: visible;}
}

@media (max-width: 460px) {
  .design-glass__col {
    flex: 0 0 52%;}
}

@media (max-width: 414px) {
	.footer__callback {
		width: 100%;}
	 .how-work-info {
    flex: 0 0 43%;}
  .advant-info {
    flex: 0 0 43%;}
  .form-applic__btn {
    width: 100%;}
  .card__col {
    flex: 0 0 65%;}
  .product__text p {
    text-align: justify;}
  .product__choice .quantity {
    width: 110px;}
}

@media (max-width: 375px) {
	.bascket-icon {
		margin-right: 18px;}
	.header__contacts {
		margin-right: 8px;}
  .card__col {
    flex: 0 0 75%;}
}

@media (max-width: 360px) {
	.header__contacts {
    flex: 0 0 128px;}
  .header__phone {
  	font-size: 16px;}
  .footer__soc-block-icon {
    width: 180px;}
  .how-work-info {
    flex: 0 0 50%;}
  .advant-info {
    flex: 0 0 53%;}
  .menu__container {
    padding: 0 25px;}
}

@media (max-width: 330px) {
  .card__title {
    font-size: 16px;}
  .card__charect {
    font-size: 12px;}
  .product__choice {
    justify-content: space-between;}
  .product__choice .quantity {
    margin-right: 15px;}
}